.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: 0 auto;
}

.header-container {
    background-color: #10BBD5;
    width: 1400px;
    height: 72px;
    padding: 0 52px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-f {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-prise {
    font-size: 16px;
    color: #fff;
}

.header-menu {
    width: 1296px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.text {
    font-size: 16px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-item {
    padding-left: 40px;
}

.menu-item-link {
    color: black;
    text-decoration: none;
}

.main {
    flex: 1 1 auto;
    max-width: 1296px;
    margin: 0 auto;
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #10BBD5;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.chat-button img {
    width: 64px;
    height: 64px;
}

h1 {
    font-size: 32px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.product-grid {
    width: 1296px;
    display: grid;
    grid-template-columns: repeat(4, 306px);
    grid-gap: 20px;
}

.product {
    background-color: #fff;
    width: 306px;
    height: 512px;
    padding: 32px;
    position: relative;
    border: solid 1px;
}

.product img {
    width: 178px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.icons {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    position: absolute;
    top: 32px;
    left: 32px;
}

.icons span {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.hit {
    background-color: #4200FF;
}

.new {
    background-color: #AF39E7;
}

.discount {
    background-color: #EA33C0;
}

.information {
    margin: 0;
}

.name {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.autor {
    text-decoration: none;
    font-size: 16px;
    color: #8E8E8E;
}

.prices {
    display: flex;
    gap: 24px;
    font-size: 24px;
}

.current-price {
    color: #ff0000;
}

.old-price {
    text-decoration: line-through;
    color: #8E8E8E;
}

.button,
.button-two {
    width: 242px;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
}

.button {
    background-color: #4C394E;
}

.button-two {
    background-color: #4D762D;
}

.buy-button {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C394E;
    width: 1400px;
    height: 88px;
    padding: 0 52px;
    margin: 0 auto;
    margin-top: 120px;
}

.copi,
.text-h {
    color: #fff;
    font-size: 16px;
}